In [22]:
#import libraries
import mysql.connector
from mysql.connector import connect, Error
import pandas as pd

In [23]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try: 
        connection = mysql.connector.connect(
            host = host_name, 
            user = user_name,
            passwd=user_password
        )
        print("MySQL database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

pw = "B@0112"  #MySQL password
db = "bhoomika_db"  #database name
connection = create_server_connection("localhost", "root", pw)

MySQL database connection successful

In [24]:
# Create bhoomika_db

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query = "Create database bhoomika_db"
create_database(connection , create_database_query)

Error: '1007 (HY000): Can't create database 'bhoomika_db'; database exists'

In [25]:
#Connect to database

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user= user_name,
            passwd = user_password,
            database = db_name
        )
        print("MySQL database connection successfull")
    except  Error as err:
        print(f"Error: '{err}'")
    return connection

In [26]:
#Execute sql queries

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        #connection.commit()
        print("Query was successfull")
    except Error as err:
        print(f"Error: '{err}'")

In [27]:
create_orders_table = """
create table orders(
order_id int primary key, 
customer_name  varchar(30) not null, 
product_name varchar(20) not null, 
date_ordered date, quantity int, 
unit_price float, 
phone_number varchar(20));
"""

#connect to the databse
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, create_orders_table)

MySQL database connection successfull
Error: '1050 (42S01): Table 'orders' already exists'

In [35]:
#Insert data

data_orders = """
insert into orders values
(101, 'Steve', 'Laptop', '2018-06-12', 2, 800, '6295730802'),
(102, 'Jo', 'Books', '2017-02-23', 5, 1800, '6567730802'),
(103, 'Stacy', 'T-Shirt', '2018-06-16', 6, 300, '9985730802'),
(104, 'Nancy', 'TV', '2020-06-02', 2, 860, '6295730802'),
(105, 'Marie', 'Headphones', '2024-06-08', 9, 1800, '6295730802'),
(106, 'Bob', 'Mobile', '2020-04-14', 3, 16060, '9057390802');
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection , data_orders)

MySQL database connection successfull
Query was successfull

In [36]:
def read_query(connection , query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error : '{err}'")

In [37]:
#Using the select stmt

q1 = """
select * from orders;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)
for result in results:
    print(result)

MySQL database connection successfull

In [38]:
q2 = """
select customer_name, phone_number from orders;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q2)
for result in results:
    print(result)

MySQL database connection successfull

In [39]:
q3 = """
select customer_name, phone_number from orders;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q2)
for result in results:
    print(result)

MySQL database connection successfull

In [40]:
q4 = """
select distinct year(date_ordered) from orders;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q2)
for result in results:
    print(result)

MySQL database connection successfull

In [41]:
from_db = []

for result in results:
    result = list(result)
    from_db.appends(result)
columns = ["order_id", "customer_name", "product_name",
           "date_ordered", "quantity", "unit_price", "phone_number"]
df = pd.DataFrame(from_db, columns=columns)

display(df)

Empty DataFrame
Columns: [order_id, customer_name, product_name, date_ordered, quantity, unit_price, phone_number]
Index: []